.chat
  =render "side_bar"
  .chat__main
    .header
      .header__left
        .header__left__group
          Group
        .header__left__members
          Member
      =link_to "", class: "header__btn" do
        EDIT
    .messages
      .message
        .message__upper
          .message__upper__name
            Name
          .message__upper__date
            Date
        .message__text
          Text
    .form
      %form.box
        .box__input
          %input.box__input__text{type:"text", name:"message", placeholder:'type a message'}
          %label.box__input__upload-label{for: "upload-icon"}
            =fa_icon "image"
            %input.box__input__upload-label__icon{type: "file", id: "upload-icon"}
        %input.box__btn{type:"submit", value:"Send"}