*{
  box-sizing: border-box;
}

.chat__side {
  height: 100vh;
  width: 300px;
  float: left;

  .header {
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    @include text($text-color1, 16px);
    border-bottom: none;
  }
  .header__box{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    line-height: 100px;
  }
  .header__box__name{

  }
  .header__box__btn{
    width: 25%;
    display: flex;
    justify-content:flex-end;
  }
  .icon{
    color: $text-color1;
  }
}
.groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
}
.group{
  cursor: pointer;
  &__name{
    padding: 20px 20px 0 20px;
    @include text($text-color1, 15px);
  }
  &__message{
    padding: 5px 20px 20px 20px;
    @include text($text-color1, 11px);
  }
}

.chat__main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  background-color: white;
}
.header{
  height: 100px;
  border-bottom: solid 1px #eeeeee;
  display: flex;
  justify-content:space-between;
  padding: 0 40px;
}
.header__left{
  margin-top: 35px;
  &__group{
    @include text(#333333, 20px);
    font-weight: normal;
    margin-bottom: 15px;
  }
  &__members{
    @include text(#999999, 12px);
    font-weight: normal;
  }
}
.header__btn{
  height: 40px;
  margin-top: 28px;
  padding: 0 20px;
  border: solid 1px $blue-color;
  color: $blue-color;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.messages{
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px;
}
.message{
  padding-bottom: 40px;
}
.message__upper{
  display: flex;
  &__name{
    padding-bottom: 10px;
    @include text($text-color2, 16px);
  }
  &__date{
    @include text(#999999, 12px);
    font-weight: normal;
    padding-left: 10px;
  }
}
.message__text{
  @include text($text-color2, 14px);
  font-weight: normal;
}

.form{
  height: 90px;
  width: 100%;
  background-color: #dddddd;
  margin-bottom: 0;
  padding: 20px 40px;
}
.box{
  width: 100%;
  display: flex;
  justify-content:space-between;
  &__input{
    width: 100%;
    position: relative;
  }
  &__btn{
    width: 100px;
    text-align: center;
    margin-left: 15px;
    background-color: $blue-color;
    color: $text-color1;
    cursor: pointer;
  }
}
.box__input__text{
  height: 50px;
  width: 100%;
  @include text($text-color2, 16px);
  font-weight: normal;
  line-height: 50px;
  background-color: white;
  padding: 0 40px 0 10px;
}
.box__input__upload-label{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  &__icon{
    display: none;
  }
}


